@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: var(--font-line-seed);
    --font-mono: var(--font-geist-mono);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-line-seed);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        var(--font-line-seed), "LINE Seed Sans TH", Arial, Helvetica, sans-serif;
}

.leaflet-bar-part.leaflet-bar-part-single {
    border-radius: 4px;
}

.geosearch.bar {
    background-color: red !important;
    box-shadow: none;
    border: 1px solid #ccc;
}

.geosearch.bar .glass input {
    color: #333 !important;
    padding-left: 10px;
}

.geosearch.bar .glass input::placeholder {
    color: #999 !important;
    opacity: 1;
}

.geosearch .results {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.geosearch .results > * {
    padding: 8px 10px;
    color: #333 !important;
    border-bottom: 1px solid #eee;
}

.geosearch .results > *:hover,
.geosearch .results > .active {
    background: #f5f5f5;
}
